<header
  class="bg-blue-600 text-white py-4 px-6 flex justify-between items-center"
>
  <div class="flex items-center">
    <i class="fas fa-tasks text-2xl"></i>
    <span class="ml-3 text-xl font-bold">Gestion Tareas</span>
  </div>
  <nav>
    <ul class="flex space-x-4">
      <li><a routerLink="/" class="hover:text-gray-200">Home</a></li>
      <li><a routerLink="/tasks" class="hover:text-gray-200">Tareas</a></li>
      <li><a routerLink="/persons" class="hover:text-gray-200">Personas</a></li>
    </ul>
  </nav>
</header>
